.main-container {
  background-color: #9ba9eb;
  padding: 30px;
  min-height: 100vh;
  font-family: roboto;
}

.logo {
  height: 40px;
  width: auto;
  margin-bottom: 10px;
  padding: 0px;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #5763a5;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.password-container > img {
  width: 35%;
}

.add-password-main-container {
  width: 50%;
}

.passwords-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #5763a5;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 40px;
  color: #ffffff;
}
.passwords-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .main-container {
    padding: 20px;
  }
  .password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .password-container > img {
    order: -1;
    width: 100%;
    margin-bottom: 10px;
  }
  .add-password-main-container {
    width: 100%;
    border-radius: 15px;
  }
  .passwords-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0px;
  }
}
